var config = {
    db_account: {
        username: "root",
        password: "root",
        database: "weibo"
    },
    weibo_account: [
        {
            username: "username",
            password: "password"
        }
    ],
    analysis_period: {
        start: "20170101",
        end: "20170331"
    },
    analysis_user: [
        {
            alias: "韩寒",
            uid: "1191258123"
        },
        {
            alias: "刘昊然turbo",
            uid: "2870450862"
        },
        {
            alias: "演员王迅",
            uid: "1656312435"
        },
        {
            alias: "王宝强",
            uid: "1254123322"
        },
        {
            alias: "张靓颖",
            uid: "1778742953"
        },
        {
            alias: "GEM鄧紫棋",
            uid: "1705586121"
        },
        {
            alias: "歐陽娜娜Nana",
            uid: "2687827715"
        },
        {
            alias: "夢想家林志穎",
            uid: "1608574203"
        },
        {
            alias: "余文樂",
            uid: "1384952882"
        },
        {
            alias: "白敬亭",
            uid: "2112496475"
        },
        {
            alias: "潘粤明",
            uid: "1195813710"
        },
        {
            alias: "张歆艺",
            uid: "1262456801"
        },
        {
            alias: "BIGBIG张大大",
            uid: "1320355271"
        },
        {
            alias: "angelababy",
            uid: "1642351362"
        },
        {
            alias: "石婷Celine",
            uid: "1665582690"
        },
        {
            alias: "胡歌",
            uid: "1223178222"
        },
        {
            alias: "演员闫楠",
            uid: "6104815028"
        },
        {
            alias: "戴军",
            uid: "3100185195"
        },
        {
            alias: "陈坤",
            uid: "1087770692"
        },
        {
            alias: "王鸥Angel",
            uid: "1221923871"
        },
        {
            alias: "黄渤",
            uid: "1263498570"
        },
        {
            alias: "蔡依林",
            uid: "1742727537"
        },
        {
            alias: "Mr_凡先生",
            uid: "3591355593"
        },
        {
            alias: "潘瑋柏",
            uid: "1752502537"
        },
        {
            alias: "刘涛tamia",
            uid: "1197191492"
        },
        {
            alias: "TFBOYS-王源",
            uid: "2812335943"
        },
        {
            alias: "演员王劲松",
            uid: "1278083217"
        },
        {
            alias: "任嘉伦Allen",
            uid: "3800468188"
        },
        {
            alias: "劉嘉玲",
            uid: "1747514562"
        },
        {
            alias: "沈腾",
            uid: "1782432341"
        },
        {
            alias: "大潘潘斌龙",
            uid: "1907767253"
        },
        {
            alias: "陈赫",
            uid: "1574684061"
        },
        {
            alias: "稀土部队",
            uid: "1914100420"
        },
        {
            alias: "郑恺",
            uid: "1275280670"
        },
        {
            alias: "王祖藍",
            uid: "1730330447"
        },
        {
            alias: "我就是我邹市明",
            uid: "1743040097"
        },
        {
            alias: "张一山",
            uid: "1776845763"
        },
        {
            alias: "岳云鹏",
            uid: "1751675285"
        },
        {
            alias: "汪东城",
            uid: "1773283005"
        },
        {
            alias: "吳彥祖",
            uid: "2345544584"
        },
        {
            alias: "歐弟",
            uid: "1581391477"
        },
        {
            alias: "应采儿",
            uid: "1253491601"
        },
        {
            alias: "鄭元暢小綜",
            uid: "1797007051"
        },
        {
            alias: "演员郭晓东",
            uid: "1213536224"
        },
        {
            alias: "井柏然",
            uid: "1289997621"
        },
        {
            alias: "任泉",
            uid: "1195231190"
        },
        {
            alias: "刘宪华Henry-Lau",
            uid: "2975979770"
        },
        {
            alias: "林俊杰",
            uid: "1195354434"
        },
        {
            alias: "范冰冰",
            uid: "3952070245"
        },
        {
            alias: "王千源",
            uid: "1290364693"
        }
    ]
};


module.exports = config;

